* {
  border: solid 1px black;
  box-sizing: border-box;
}
body {
  background: papayawhip;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

aside {
  display: flex;
  justify-content: space-between;
  min-height: 20vh;
  width: 100%;
}
aside > div {
  flex-grow: 10;
  margin: .5em;
}
header, footer, aside, .wrapper {
  margin: 1em;
  flex-grow: 1;
  max-height: 10vh;
}

main {
  width: 90%;
  flex-grow: 3;
  margin: .5em;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    max-height: 10vh;
    width: 100%;
  }
  footer {
    min-height: 90vh;
    margin: 1em;
    flex-grow: 3
  }
  .wrapper {
    min-height: 70vh;
    justify-content: stretch;
  }
}